.App{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left : 10px;
  line-height : 1.5; 
}
h2 {
  text-align: left;
  padding-left : 40px;
  padding : 10px;
  background: #afeeee	;
}

.text {
  text-align: left;
  padding-left : 40px;
  font-size: 20px;
}

.difficulty{
  text-align : left;  
}

.distinctionStyle {
  font-size: 20px;
  line-height: 1.5;
}

.graphClass {
  width : 45%;
  padding : 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
